*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.Vmax{
    font-size: 2vmax;
}

.Vmin{
    font-size: 4.025vmin;
}

#vmax{
    height: 20vmax;
    width: 20vmax;
    background-color: crimson;
}

#vmin{
    height: 20vmin;
    width: 20vmin;
    background-color: purple;
}

.combine{
    height: 20vmin;
    width: 20vmax;
    background-color: black;
}