*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgb(17, 14, 14);
}

button{
    padding: 10px 30px;
    font-size: 20px;
    color: violet;
    background-color:purple;
    border: none;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
    background-color: indigo;
    color: white;
}

button:active{
    scale: 0.85;
    transition: ease-in;
}