*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    margin: 0;
    background-image: linear-gradient(to right, rgb(23, 22, 22) ,25%, rgb(0, 0, 0));
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0;
}

main{
    min-height: 100%;
    width: 100%;
    position: relative;
    font-family: Good Times;
    /* overflow: ; */
}

#vertical{
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -20px;
    color: #0cc7b9;
    opacity: 0.10;
    font-size: 350px;
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    z-index: 1;
}

/* parent */
.Logo{ 
    display: flex;
    /* justify-content: center; */
    z-index: 10;
    color: #0cc7b9;
}

/* child */
.Logo h1{
    position: absolute;
    color: #1bddd0;
    /* top: 120px; */
    /* left: 140px; */
    padding-top: 120px;
    padding-left: 140px;
    font-size: 40px;
}

/* child */
.Logo p{
    color: #1bddd0;
    padding-top: 170px;
    padding-left: 170px;
    position: absolute;
}

/* parent */
.navbar{
    display: flex;
    justify-content: end;
    gap: 40px;
    padding-left: 100px; 
    align-items: center;   
}

/* child */
.navbar a{
    font-size: 17px;
    top: 145px;
    right: 300px;
    height: 30px;
    color: #1bddd0;
    position: relative;
    text-decoration: none;
}

/* child */
.navbar i{
    padding-top: 275px;
    color: #1bddd0;
    font-size: 30px;
    padding-right:230px ;
    position: absolute;
}


/* Section-1 */


section.sec1 {
    display: flex;
    justify-content: center;   
    align-items: center;      
    height: 400px;
    width: 100%;
    padding-top:450px ;
}   

.sec1-content {
    display: flex;
    gap: 40px;
    align-items: center;
    width: 1100px;
}
.sec1-content h3{
    font-family: Roboto;
    font-size: 16px;
    color: #1bddd0;
    margin-bottom: 20px; 
}

hr{
    border: 1px solid #1bddd0;
    width: 140px;
    margin-top: 17px;
    /* margin-bottom: 17px; */
}

.sec1-content h1{
    font-family: Inter;
    font-size: 70px;
    font-weight: 400;
}

#creat{
    color: #1bddd0;
}

.sec1-content p {
    margin-top: 40px;
    font-family: Roboto;
}

.sec1-content img{
    height: 470px;
    margin-right: 70px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 25px 20px 30px rgba(27, 221, 208, 0.4);
}


/* Section-2 */


section.sec2 {
    display: flex;
    justify-content: center;   
    align-items: center;      
    height: 400px;
    width: 100%;
    padding-top:650px ;
}   

.sec2-content {
    display: flex;
    gap: 40px;
    align-items: center;
    width: 1100px;
}
.sec2-content h3{
    font-family: Roboto;
    font-size: 16px;
    color: #1bddd0;
    margin-bottom: 20px; 
}

hr{
    border: 1px solid #1bddd0;
    width: 140px;
    margin-top: 17px;
    /* margin-bottom: 17px; */
}

.sec2-content h1{
    font-family: Inter;
    font-size: 70px;
    font-weight: 400;
}

#creat{
    color: #1bddd0;
}

.sec2-content p {
    margin-top: 40px;
    font-family: Roboto;
}

.sec2-content img{
    height: 470px;
    margin-right: 70px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 25px 20px 30px rgba(27, 221, 208, 0.4);
}

button{
    font-family:Roboto;
    font-weight: 300;
    color: white;
    background-color: #1bddd0;
    height: 40px;
    font-size: 21px;
    width: 110px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}


/* Section-3 */


section.sec3 {
    display: flex;
    justify-content: center;   
    align-items: center;      
    height: 400px;
    width: 100%;
    padding-top:650px ;
}   

.sec3-content {
    display: flex;
    gap: 40px;
    align-items: center;
    width: 1100px;
}
.sec3-content h3{
    font-family: Roboto;
    font-size: 16px;
    color: #1bddd0;
    margin-bottom: 20px; 
}

hr{
    border: 1px solid #1bddd0;
    width: 140px;
    margin-top: 17px;
    /* margin-bottom: 17px; */
}

.sec3-content h1{
    font-family: Inter;
    font-size: 70px;
    font-weight: 400;
}

#creat{
    color: #1bddd0;
}

.sec3-content p {
    margin-top: 40px;
    font-family: Roboto;
}

.sec3-content img{
    height: 470px;
    margin-right: 70px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 25px 20px 30px rgba(27, 221, 208, 0.4);
}

.image{
    display: flex;
    /* justify-content: start; */
}
.image img{
    height: 300px;
    width: 250px;
    margin: 23px;
    opacity: 2;
    border-radius: 30px;
    margin-top: 300px;
    object-fit: cover;
    box-shadow: 0px 0px 20px #1bddd0;
    z-index: 1;
}