*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height: 100%;
    width: 100%;
}

body{
    background-color: #BFC9D1;
}

#main{
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.elem{
    height: 200px;
    width: 100%;
    background-color: #25343F;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.elem h1,button{
    font-size: 40px;
    color: #BFC9D1;
}

.elem button{
    padding: 10px;
    background-color:#FF9B51;
    border: none;
}

.elem button:active{
    scale: 0.95;
}
