*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: darkslategrey;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor{
    height: 20px;
    width: 20px;
    background-color: black;
    /* mix-blend-mode:difference; */
    border-radius: 50%;
    position: absolute;
    transition: linear 0.1s;
}

.main h1{
    font-size: 5vw;
    font-weight: bolder;
}