*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body { 
    height: 100%;
    width: 100%;
}

body{
    background-color: #0f0f0f;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes changebg{
    from{
        background-color : red;
        scale: 1;
    }

    to{
        background-color: black;
        scale: 0.5;
    }
}

.box{
    height: 300px;
    width: 600px;
    border-radius: 20px;
    animation: changebg 3s ease infinite alternate;
    /* background:  conic-gradient(
        from 0deg,
        #833ab4,
        #fd1d1d,
        #fcb045,
        #833ab4
    ); */
    /* box-shadow: inset 10px 10px 20px 0px black; */

}