*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family: Copperplate Gothic;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #020617;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    position: relative;
    z-index: 1;
    border-radius: 50%;
}
