@import "button";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

.blue{
    @include button-styl(blue , white, 30px)
}

.red{
    @include button-styl(red, white, 30px)
}
